//VARIABLES
$tamanio-titulos: 3.5em;
$tamanio-subtitulos-responsive: .9em;
$color-secundario: #aeaeae;
$color-terciario: #3333e3;
$sombra-baja: 2px 2px 20px #0002;
$sombra-baja-clara: 2px 2px 20px #fffe;
